

html,
body
 {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  margin: 0;
  background-image: url("stars-5120x2880-star-trail-galaxy-sky-4k-6k-18295.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
}

.boxfade{

  width: auto;
  height: auto;
  box-shadow: 10px 10px 15px rgba(77, 77, 77, 0.493);
  border: 10px solid rgba(77, 77, 77, 0);
  border-radius:  5px;

  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  -o--transition: all 1s ease-in;
  transition: all 1s ease-in;
  padding: 3% 3%;
  margin: 5% 0;
  }
.boxfade:hover{
  background-color:rgba(129, 122, 96, 0.466);
  -webkit-opacity: 2;
  -moz-opacity: 2;
  opacity: 2;
  }
.container{
  width: 800px;
  margin: 50px auto;
  display: table;
  box-sizing: border-box;
}








.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 18%, 50%);
}

.card {
  background-color: hsla(0, 0%, 42%, 0.753);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 18%, 50%)
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background:  hsl(0, 0%, 42%);
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background:  hsl(0, 0%, 42%);
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(206, 18%, 50%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}









@media (max-width:900px){

  .container{

      margin: 0;
      padding: 0;
      width: 100%;
  }

  .column{
    width: 100px auto;
    display: block;
    margin: 10px 0;
    border: 10px 0;
    box-sizing: border-box;
  }

  .row{

    margin: 0;

  }
}
